<div class="row">
    <div class="row g-12">
        <div class="card" style="width: 18rem;">
            <img [src]="recipe.imagePath" style="height: 200px;" class="card-img-top" alt="{{recipe.name}}">
            <div class="card-body">
              <h5 class="card-title">{{recipe.name}}</h5>
              <p class="card-text">{{ recipe.description}}</p>
            </div>
            <ul class="list-group list-group-flush" >
              <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ingredient.name}} - {{ingredient.amount}}</li>
            </ul>
            <div class="card-body row">
              <a style="cursor: pointer;" (click)="onAddToShoppingList()" class="btn btn-primary">To Shopping List</a>
              <a style="cursor: pointer;" class="btn btn-success">Edit Recipe</a>
              <a style="cursor: pointer;" class="btn btn-warning">Recipe</a>
            </div>
          </div>
        
    </div>
</div>
