<div class="row">
    <div class="row g-12">
        <div class="card" style="width: 18rem;">
            <img src="https://www.simplyrecipes.com/thmb/qu-AslBeskzh_HG9H0dQAmcrdLQ=/648x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2019__09__easy-pepperoni-pizza-lead-4-82c60893fcad4ade906a8a9f59b8da9d.jpg" style="height: 200px;" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pizza Pepperoni</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Ingredient 1</li>
              <li class="list-group-item">Ingredient 2</li>
              <li class="list-group-item">Ingredient 3</li>
            </ul>
            <div class="card-body row">
              <a href="#" class="btn btn-primary">To Shopping List</a>
              <a href="#" class="btn btn-success">Edit Recipe</a>
              <a href="#" class="btn btn-warning">Recipe</a>
            </div>
          </div>
        
    </div>
</div>
