<div class="row">
    <div class="row g-12">
        <div class="card" style="width: 18rem;">
            <img [src]="recipe.imagePath" style="height: 200px;" class="card-img-top" alt="{{recipe.name}}">
            <div class="card-body">
              <h5 class="card-title">{{recipe.name}}</h5>
              <p class="card-text">{{ recipe.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Ingredient 1</li>
              <li class="list-group-item">Ingredient 2</li>
              <li class="list-group-item">Ingredient 3</li>
            </ul>
            <div class="card-body row">
              <a href="#" class="btn btn-primary">To Shopping List</a>
              <a href="#" class="btn btn-success">Edit Recipe</a>
              <a href="#" class="btn btn-warning">Recipe</a>
            </div>
          </div>
        
    </div>
</div>
