<app-header (featureSelected)="onNavigate($event)"></app-header>
<hr>
<app-recipe-item></app-recipe-item>

<div class="row" *ngIf="loadedFeature === 'recipes'">
    <div class="col gx-12">
        <app-recipe-list></app-recipe-list>
    </div>
    <div class="col gx-12">
        <app-recipe-detail></app-recipe-detail>
    </div>
</div>

<div class="row" *ngIf="loadedFeature !== 'recipes'">
    <div class="row">
        <app-shopping-edit></app-shopping-edit>
    </div>
    <div class="row">
        <app-shopping-list></app-shopping-list>
    </div>
</div>

